<div>
    <h2 id="page-heading">
        <span jhiTranslate="silvousplaitApp.professionalAudit.home.title">Professional Audits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-professional-audit" [routerLink]="['/professional-audit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="silvousplaitApp.professionalAudit.home.createLabel">
            Create new Professional Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="professionalAudits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalAudit.date">Date</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalAudit.message">Message</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalAudit.event">Event</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalAudit.professional">Professional</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professionalAudit of professionalAudits ;trackBy: trackId">
                <td><a [routerLink]="['/professional-audit', professionalAudit.id, 'view' ]">{{professionalAudit.id}}</a></td>
                <td>{{professionalAudit.date | date:'mediumDate'}}</td>
                <td>{{professionalAudit.message}}</td>
                <td jhiTranslate="{{'silvousplaitApp.ProfessionalEvent.' + professionalAudit.event}}">{{professionalAudit.event}}</td>
                <td>
                    <div *ngIf="professionalAudit.professionalId">
                        <a [routerLink]="['../professional', professionalAudit.professionalId , 'view' ]" >{{professionalAudit.professionalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/professional-audit', professionalAudit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/professional-audit', professionalAudit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'professional-audit', { outlets: { popup: professionalAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
