<div>
    <h2 id="page-heading">
        <span jhiTranslate="silvousplaitApp.professionalDetails.home.title">Professional Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-professional-details" [routerLink]="['/professional-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="silvousplaitApp.professionalDetails.home.createLabel">
            Create new Professional Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="professionalDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalDetails.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalDetails.hourlyRate">Hourly Rate</span></th>
            <th><span jhiTranslate="silvousplaitApp.professionalDetails.onMobility">On Mobility</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professionalDetails of professionalDetails ;trackBy: trackId">
                <td><a [routerLink]="['/professional-details', professionalDetails.id, 'view' ]">{{professionalDetails.id}}</a></td>
                <td>{{professionalDetails.phoneNumber}}</td>
                <td>{{professionalDetails.hourlyRate}}</td>
                <td>{{professionalDetails.onMobility}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/professional-details', professionalDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/professional-details', professionalDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'professional-details', { outlets: { popup: professionalDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
