<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professionalDetails">
            <h2><span jhiTranslate="silvousplaitApp.professionalDetails.detail.title">Professional Details</span> {{professionalDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="silvousplaitApp.professionalDetails.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{professionalDetails.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professionalDetails.hourlyRate">Hourly Rate</span></dt>
                <dd>
                    <span>{{professionalDetails.hourlyRate}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professionalDetails.onMobility">On Mobility</span></dt>
                <dd>
                    <span>{{professionalDetails.onMobility}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professional-details', professionalDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
