<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="silvousplaitApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="silvousplaitApp.company.name">Name</span></dt>
                <dd>
                    <span>{{company.name}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.company.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{company.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.company.companyType">Company Type</span></dt>
                <dd>
                    <div *ngIf="company.companyTypeId">
                        <a [routerLink]="['/company-type', company.companyTypeId, 'view']">{{company.companyTypeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.company.subscriptionType">Subscription Type</span></dt>
                <dd>
                    <div *ngIf="company.subscriptionTypeId">
                        <a [routerLink]="['/subscription-type', company.subscriptionTypeId, 'view']">{{company.subscriptionTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
