<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pro-choice-heading" jhiTranslate="silvousplaitApp.proChoice.home.createOrEditLabel">Create or edit a Pro Choice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!proChoice.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.deviceRegistrationId" for="field_deviceRegistrationId">Device Registration Id</label>
                    <input type="text" class="form-control" name="deviceRegistrationId" id="field_deviceRegistrationId"
                           formControlName="deviceRegistrationId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.choice" for="field_choice">Choice</label>
                    <select class="form-control" id="field_choice" name="choice" formControlName="choiceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="professionalOption.id" *ngFor="let professionalOption of choices; trackBy: trackProfessionalById">{{professionalOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.request" for="field_request">Request</label>
                    <select class="form-control" id="field_request" name="request" formControlName="requestId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proRequestOption.id" *ngFor="let proRequestOption of requests; trackBy: trackProRequestById">{{proRequestOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.rating" for="field_rating">Rating</label>
                    <select class="form-control" id="field_rating" name="rating" formControlName="ratingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ratingOption.id" *ngFor="let ratingOption of ratings; trackBy: trackRatingById">{{ratingOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.proChoice.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
