<div>
    <h2 id="page-heading">
        <span jhiTranslate="silvousplaitApp.proChoice.home.title">Pro Choices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pro-choice" [routerLink]="['/pro-choice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="silvousplaitApp.proChoice.home.createLabel">
            Create a new Pro Choice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proChoices?.length === 0">
        <span jhiTranslate="silvousplaitApp.proChoice.home.notFound">No proChoices found</span>
    </div>
    <div class="table-responsive" *ngIf="proChoices?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.location">Location</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.lat">Lat</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.lng">Lng</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.deviceRegistrationId">Device Registration Id</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.date">Date</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.comeOver">Come Over</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.choice">Choice</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.request">Request</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.rating">Rating</span></th>
            <th><span jhiTranslate="silvousplaitApp.proChoice.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proChoice of proChoices ;trackBy: trackId">
                <td><a [routerLink]="['/pro-choice', proChoice.id, 'view' ]">{{proChoice.id}}</a></td>
                <td>{{proChoice.location}}</td>
                <td>{{proChoice.lat}}</td>
                <td>{{proChoice.lng}}</td>
                <td>{{proChoice.deviceRegistrationId}}</td>
                <td>{{proChoice.date | date:'mediumDate'}}</td>
                <td>{{proChoice.comeOver}}</td>
                <td>
                    <div *ngIf="proChoice.choiceId">
                        <a [routerLink]="['/professional', proChoice.choiceId , 'view' ]" >{{proChoice.choiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proChoice.requestId">
                        <a [routerLink]="['/pro-request', proChoice.requestId , 'view' ]" >{{proChoice.requestId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proChoice.ratingId">
                        <a [routerLink]="['/rating', proChoice.ratingId , 'view' ]" >{{proChoice.ratingId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proChoice.customerId">
                        <a [routerLink]="['/customer', proChoice.customerId , 'view' ]" >{{proChoice.customerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pro-choice', proChoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pro-choice', proChoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pro-choice', { outlets: { popup: proChoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
