<div>
    <h2 id="page-heading">
        <span jhiTranslate="silvousplaitApp.professional.home.title">Professionals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-professional" [routerLink]="['/professional/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="silvousplaitApp.professional.home.createLabel">
            Create a new Professional
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="professionals?.length === 0">
        <span jhiTranslate="silvousplaitApp.professional.home.notFound">No professionals found</span>
    </div>
    <div class="table-responsive" *ngIf="professionals?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.firstName">First Name</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.lastName">Last Name</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.up">Up</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.active">Active</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.details">Details</span></th>
            <th><span jhiTranslate="silvousplaitApp.professional.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professional of professionals ;trackBy: trackId">
                <td><a [routerLink]="['/professional', professional.id, 'view' ]">{{professional.id}}</a></td>
                <td>{{professional.firstName}}</td>
                <td>{{professional.lastName}}</td>
                <td>{{professional.creationDate | date:'mediumDate'}}</td>
                <td>{{professional.up}}</td>
                <td>{{professional.active}}</td>
                <td>
                    <div *ngIf="professional.detailsId">
                        <a [routerLink]="['/professional-details', professional.detailsId , 'view' ]" >{{professional.detailsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="professional.locationId">
                        <a [routerLink]="['/company-location', professional.locationId , 'view' ]" >{{professional.locationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/professional', professional.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/professional', professional.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/professional', { outlets: { popup: professional.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
