<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professional">
            <h2><span jhiTranslate="silvousplaitApp.professional.detail.title">Professional</span> {{professional.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="silvousplaitApp.professional.firstName">First Name</span></dt>
                <dd>
                    <span>{{professional.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.lastName">Last Name</span></dt>
                <dd>
                    <span>{{professional.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{professional.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.up">Up</span></dt>
                <dd>
                    <span>{{professional.up}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.active">Active</span></dt>
                <dd>
                    <span>{{professional.active}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.address">Address</span></dt>
                <dd>
                    <span>{{professional.address}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.lat">Lat</span></dt>
                <dd>
                    <span>{{professional.lat}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.lng">Lng</span></dt>
                <dd>
                    <span>{{professional.lng}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{professional.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.hourlyRate">Hourly Rate</span></dt>
                <dd>
                    <span>{{professional.hourlyRate}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.onMobility">On Mobility</span></dt>
                <dd>
                    <span>{{professional.onMobility}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.userId">User Id</span></dt>
                <dd>
                    <span>{{professional.userId}}</span>
                </dd>
                <dt><span jhiTranslate="silvousplaitApp.professional.company">Company</span></dt>
                <dd>
                    <div *ngIf="professional.companyId">
                        <a [routerLink]="['/company', professional.companyId, 'view']">{{professional.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professional', professional.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
