<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-summary-heading" jhiTranslate="silvousplaitApp.summary.home.createOrEditLabel">Create or edit a Summary</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.summary.hits" for="field_hits">Hits</label>
                    <input type="number" class="form-control" name="hits" id="field_hits"
                           formControlName="hits"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.summary.missed" for="field_missed">Missed</label>
                    <input type="number" class="form-control" name="missed" id="field_missed"
                           formControlName="missed"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.summary.currentBill" for="field_currentBill">Current Bill</label>
                    <input type="number" class="form-control" name="currentBill" id="field_currentBill"
                           formControlName="currentBill"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="silvousplaitApp.summary.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
